<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
        <title>Play Rock Paper Scissors</title>
    </head>
    <body>
        <div class='container'>
            <h1>Play Rock Paper Scissors!</h1>
            <h3>Player Two, Select Your Action:</h3>
            <form action='/gameover'>
                <label for="player2" clasplayer2s="radio">
                <input type="radio" name="player2" id="player2" value="rock">
                  Rock
                </label>
                <label for="player2" class="radio">
                  <input type="radio" name="player2" id="player2" value="paper">
                  Paper
                </label>
                <label for="player2" class="radio">
                  <input type="radio" name="player2" id="player2" value="scissors">
                  Scissors
                </label>
                <button type='submit' class='btn-success'>Play!</button>
            </form>
        </div>
    </body>
</html>
