<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
        <title>Rock Paper Scissors Results</title>
    </head>
    <body>
        <div class='container'>
            <h1>Battle Results!</h1>
            <p> Player One results {{ player1 }}</p>
            <p> Player Two results {{ player2 }}</p>

            <h2>{{ result }}</h2>

            <button type='submit' class='btn-success'><a href='/'>Play Again</a></button>
        </div>
    </body>
</html>
